* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr 4fr;
}

.nav {
  grid-area: 1 / 1 / -1 / 2;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
}

.content {
  grid-area: 2 / 2 / -1 / -1;
}